@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:wdth,wght@87.5,300&display=swap');

*{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span{
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

/* NAVIGATION BAR */

nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
padding: 8px 20px;
border-radius: 50px;
color: white;
transition:all 300ms ease;


}

.nav__link--anchor-primary:hover {
    background-color: #4e2599;
    transition: background-color 0.3s ease;
}

.personal__logo {
    font-size:24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}

.about-me__img {
  width: 200px;
}

/* ABOUT ME */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}