@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:wdth,wght@87.5,300&display=swap');

*{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span{
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p{
    line-height: 1.5;
    font-size: 16px;
}
